
@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>

id = @ViewBag.id <br /><br />
<h4>sum is:: @ViewBag.f3 </h4><br /><br />
Index in Default Controller