

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_MyLayour</title>
</head>
<body>
    @RenderBody()
    <div>

        <footer>
            <h4>Hello Common Layout</h4>
        </footer>
        
    </div>
</body>
</html>
