
@{
    ViewBag.Title = "Home";
  



}

<h2>
    Home


    @Html.ActionLink("Edit Details", "Edit") |
    @Html.ActionLink("Logout", "Logout")
    

</h2>

Welcome Home<br /><br />
<h2>@Session["Id"]</h2>

