@model Login_Register_Assignment.Models.Register

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <h4>
        @Html.ActionLink("Go to Register", "Create") |
        @Html.ActionLink("Go to Login", "Details") 
    </h4>

</p>